Language: Cpp

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlinesLeft: true
BinPackParameters: false
BreakConstructorInitializersBeforeComma: false
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
DerivePointerAlignment: false
ExperimentalAutoDetectBinPacking: false
IndentCaseLabels: true
IndentWidth: 2
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
TabWidth: 2
UseTab: Never
